<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<div id="content">

<title>Eventex</title>
<link type="text/css" href="{{ STATIC_URL }}css/style.css"
      rel="stylesheet" media="screen" />

    <div class="container">
    <div class="span12 row vertical-spacer"></div>
    <div class="row vertical-spacer">
         <img src="{{STATIC_URL}}img/logo.png">
    </div>

    <div class="under-border"></div>

{% block content %}{% endblock content %}

    <div class="container">
    <div class="span12 row vertical-spacer"></div>
    <div class="under-border"></div>
    </div>
</div>



